:root {
  /* --yellow: #ffc600; */
  --black: #272727;
  --white: #eeeded;
  --grey: #686569;
  --grey-light: #a79faa;
  --blue: #259de2;
  --blue-dark: #13608d;
  --blue-light: #74c2f0;
  --blue-darkest: #2c3e50;
  --orange: #ffb515;
  --orange-dark: #e29403;
  --orange-light: #e7c75b;
  --yellow: #e7e424;
  --yellow-dark: #e6cf08;
  --yellow-light: #f0ee80;
  --red: #e03030;
  --red-dark: #af1313;
  --red-light: #ff7979;
  --green: #35af05;
  --green-dark: #1c6300;
  --green-light: #8bdd6b;
  --purple: #5c4885;
  --purple-dark: #322649;
  --purple-light: #c8b1f3;
  --purple-lighter: #d9cbf1;
  --gold: #856727;
  --gold-light: #f8bc3b;
  --gold-lighter: #e7e2d6;
  --purple-lightest: #e7e4ec;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: "Baloo Tamma 2", cursive;
  font-family: "Itim", cursive;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* font-weight: 900; */
  /* font-size: 10px; */
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  scroll-behavior: smooth;
  background-color: white;
  /* overflow: hidden;  */
}

/*
    WAT IS THIS?!
    We inherit box-sizing: border-box; from our <html> selector
    Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* background-image: url("../images/ContourLine.svg"),
                    linear-gradient(210deg, var(--orange), #1247f7);
    background-size: 340px, auto;
  /* min-height: calc(100vh - 100px); */
  /*margin: 50px;
    background-attachment: fixed;
  letter-spacing: -1px; */
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

h1 {
  font-size: 24px;
}

p {
  margin: 0;
}

::-webkit-input-placeholder {
  font-size: 0.8em;
}

::-moz-placeholder {
  font-size: 0.8em;
}

/* firefox 19+ */

:-ms-input-placeholder {
  font-size: 0.8em;
}

/* ie */

input:-moz-placeholder {
  font-size: 0.8em;
}

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: var(--purple-dark);
}

a:hover {
  color: var(--purple);
}

select {
  font-family: "Itim", cursive;
  font-size: 1em;
  margin: 0 0.5em;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

label {
  color: var(--grey);
}

.action_btns {
  display: flex;
}

.action_btn {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0.2em;
  align-items: center;
  background: transparent;
  margin: 0.3em 0.7em 0.3em 0.3em;
  padding: 0.3em;
  /* margin-right: 1em;
  margin-top: .3em; */
  cursor: pointer;
  color: var(--green);
  font-family: "Baloo Tamma 2", cursive;
  font-size: 1.2em;
  font-weight: 800;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--green);
  transition: ease 0.5s all;
}

.action_btn:hover {
  color: var(--green-dark);
  border-bottom: 2px solid var(--green-dark);
  border-radius: 1em;
  background: var(--purple-lighter);
  transform: scale(1.05);
}

.lists__wrapper {
  display: flex;
  justify-content: center;
}

.bloc {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  height: 140px;
}

.bloc select {
  padding: 10px;
  margin: -5px -20px -5px -5px;
}

.members__list {
  display: flex;
  text-align: left;
  align-items: baseline;
  font-size: 1em;
  justify-self: center;
  margin: 0 0.5em;
}

.members_input {
  grid-template-columns: auto 1fr;
  align-items: baseline;
}

.members_input {
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  align-items: center;
  grid-column-gap: 1em;
}

.members__items .members_input:nth-child(even) {
  background-color: var(--purple-lighter);
  border-radius: 0.5em;
}

/* .payment__list {
  justify-items: left;
} */

.pagine {
  margin: 0.5em auto !important;
}

.nr_clients {
  margin: 0 0.2em;
  padding: 0;
}

.att_members {
  cursor: default;
}

.att_member {
  margin-left: 0.3em;
  font-size: 1.2em;
}

.check {
  cursor: pointer;
}

.att_totals {
  text-align: right;
  border-radius: 0.5em;
  padding: 0.2em 0.3em;
  justify-self: end;
  align-self: baseline;
  margin-top: 0.5em;
  color: var(--gold-light);
  background-color: var(--purple);
}

.weekday {
  justify-self: left;
  margin-left: 0.5em;
}

.form__auto {
  display: flex;
  align-items: center;
}

.autocomplete-input {
  /* border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important; */
  background-color: #ddd;
  border: 2px solid transparent;
  padding: 0.3em;
  margin: 0;
}

.autocomplete-input:hover,
.autocomplete-input:focus {
  background-color: white;
  border: 2px solid var(--black);
  border-radius: 0.3em;
  outline: none;
}

.autocomplete-result-list {
  background-color: var(--white);
  color: var(--purple-dark);
  padding: 0.3em;
  margin: 0;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  list-style: none;
  cursor: pointer;
}

.autocomplete-result-list li {
  padding: 0.3em;
  border-radius: 0.3em;
}

.btn__auto {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #ddd;
  padding: 0 16px;
  line-height: 1;
  background: #ddd;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0.3em 0;
}

.btn__auto:hover {
  outline: none;
  border-color: #ccc;
  background: #ccc;
}

.btn__auto:hover svg {
  fill: var(--gold) !important;
}

.btn__auto_toggle {
  border-radius: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 0.8em;
  margin-left: 0.2em;
}

.btn__auto_submit {
  padding: 0.5em;
}

.btn_minus {
  cursor: pointer;
  margin-right: 0.2em;
}

.btn_minus:hover {
  fill: var(--gold) !important;
}

.akcije {
  display: flex;
  align-items: center;
}

.list-enter,
.list-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: opacity 0.4s;
}

.attend__list,
.attend__heading {
  grid-template-columns: repeat(3, 1fr) !important;
}

ul.pagination {
  margin-top: 1em !important;
}

li.active {
  background: var(--gold);
  border-radius: 1em;
}

li:hover {
  background: var(--gold-light);
  border-radius: 1em;
}

.check_active {
  cursor: pointer;
}

.input__field {
  display: grid;
  justify-items: left;
  align-content: baseline;
}

.input__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  justify-self: normal;
  padding: 0.5em;
  align-items: baseline;
}

.input__btns {
  justify-self: center;
}

.termin {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 1em 0;
}

.termin > p {
  margin: 0.3em 0;
  color: var(--black);
  font-size: 1.3em;
}

.login_input {
  margin-bottom: 0.1em;
  background: #fff;
  color: var(--black);
  border: 1px solid transparent;
  border-radius: 0.2em;
  border-bottom: 1px solid #d1d1d1;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  font-family: inherit;
  font-size: 1.2em;
  line-height: 1.45;
  outline: none;
  padding: 0.6em 1.45em 0.7em;
  background: transparent;
  -webkit-transition: 0.18s ease-out;
  -moz-transition: 0.18s ease-out;
  -o-transition: 0.18s ease-out;
  transition: 0.18s ease-out;
}

.login_input:hover,
.login_input:focus {
  color: #4b515d;
  background: #fff;
  border-bottom: 1px solid var(--purple);
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01),
    0px 0px 8px rgba(0, 0, 0, 0.2);
}

.vdp-datepicker,
input {
  font-family: "Itim", cursive;
  font-size: 1.1em;
  border: none;
  border-bottom: 1px solid transparent;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  padding: 0;
  margin: 0.2em;
  background: transparent;
}

.vdp-datepicker input {
  cursor: pointer;
  border-bottom: 1px solid #d1d1d1;
  max-width: 7em;
}

.vdp-datepicker input:hover {
  border-bottom: 1px solid transparent;
}

.user__form {
  display: grid;
  justify-content: center;
  justify-items: baseline;
  margin: 1em;
  border: 2px solid var(--purple);
  border-radius: 1em;
}

.user_input {
  font-size: 1.3em;
  padding: 0.3em;
}

.client__tooltip {
  justify-self: end;
}

.period {
  display: grid;
  justify-self: center;
  align-items: center;
}

.activities__btns {
  display: flex;
  justify-content: space-between;
  justify-self: stretch;
  margin: 0.5em;
  padding: 0 0.5em;
  background: var(--gold-lighter);
  /* border: 2px solid var(--purple-dark); */
  border-radius: 0.5em;
}

.activities__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
  margin: 0 1em;
  justify-self: center;
}

.activities__title {
  font-variant: small-caps;
  color: var(--gold);
  letter-spacing: 0.1em;
}

.activities__title_val {
  color: var(--purple-dark);
}

.activities__header {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  margin: 0 1em;
  justify-self: stretch;
}

.activities__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.2em;
  justify-content: center;
  justify-items: left;
  align-items: center;
  margin-top: 0.1em;
  border-radius: 1em;
  transition: ease 0.5s all;
  padding-left: 0.2em;
}

.activities__list:hover {
  background: var(--purple);
  color: whitesmoke;
}

.payments {
  grid-template-columns: auto 1fr auto auto 1fr;
  min-width: 350px;
  cursor: pointer;
}

.payments__head {
  grid-template-columns: auto repeat(2, 1fr) auto 1fr !important;
}

.attendances {
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  min-width: 350px;
  cursor: pointer;
}

.attendances__head {
  grid-template-columns: repeat(3, 1fr) !important;
}

div.activities__list:nth-child(even) {
  background: var(--purple-lighter);
}

div.activities__list:nth-child(even):hover {
  background: var(--purple);
  color: whitesmoke;
}

.activities__item {
  padding: 0.1em;
  margin: 0.1em;
}

.for_mobile {
  min-width: 120px;
}

.filter_bar {
  justify-self: center;
  border-radius: 0.5em;
  padding: 0 0.2em;
  margin: 0.5em 0;
}

.cient__name {
  justify-self: center;
  color: var(--gold);
  font-size: 2em;
}

.tool__act {
  margin-right: 0.2em;
  margin-left: 0.1em;
  font-variant: none;
  font-size: 0.7em;
}

.total__clients {
  display: flex;
  align-items: baseline;
  justify-self: center;
  letter-spacing: 0.1em;
}

.total__clients h1 {
  margin: 0 0.3em;
}

.total__clients h3 {
  color: var(--gold);
}

.clients__manipulate {
  width: 100%;
  overflow: hidden;
  display: grid;
}

.clients__ss {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page__size {
  display: flex;
  align-items: baseline;
}

.client__wrapper {
  display: grid;
  justify-content: center;
  justify-items: left;
}

.list__container {
  justify-self: center;
}

.clients__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1em;
  /* justify-content: center; */
  /* justify-items: center; */
  align-items: center;
  margin-top: 0.2em;
  border-radius: 1em;
  transition: ease 0.5s all;
}

div.clients__list:nth-child(odd) {
  border: 2px solid var(--purple-light);
}

.clients__list:hover {
  background: var(--purple-light);
}

.client__item {
  cursor: pointer;
  border-radius: 1em;
  padding: 1em;
  margin: 0;
  text-align: left;
}

.client__add {
  margin-bottom: 0.3em;
  color: var(--purple);
  border-bottom: 2px solid var(--purple);
  justify-self: left;
}

.client__add:hover {
  color: var(--purple-dark);
  border-bottom: 2px solid var(--purple-dark);
}

.client__add:hover svg g {
  fill: var(--purple-dark);
}

.clients__heading {
  grid-template-columns: repeat(5, 1fr) !important;
}

.activities_btn {
  margin: 0;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  border-radius: 1em;
  z-index: 100;
  transition: ease 0.5s all;
}

.activities_btn:hover {
  background: var(--purple);
  transform: scale(1.1);
}

.activities_btn svg {
  z-index: 100;
}

.activities_btn:hover svg {
  fill: var(--gold-light);
}

.not_schedule {
  color: var(--red);
}

.days__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  border-radius: 0.5em;
  padding: 0.2em;
  margin-top: 0.5em;
  background: var(--purple);
  color: var(--gold-light);
}

@media only screen and (max-width: 599px) {
  #search {
    width: 7em;
  }

  .page__size {
    font-size: 0.8em;
  }
}

.new_item {
  justify-self: stretch;
  align-items: center;
  margin: 0 0 0.5em 0;
  padding: 0.2em 0;
  color: var(--gold);
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  border: 1px solid var(--purple-light);
  background: var(--purple-lightest);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  column-gap: 0.2em;
}

.modify_btns {
  justify-self: stretch;
  margin: 0.5em 0 0 0;
  padding: 0.2em;
  border-bottom-left-radius: 0.9em;
  border-bottom-right-radius: 0.9em;
  border: 1px solid var(--purple-light);
  display: grid;
  background: var(--purple-lightest);
}

.dani {
  margin-bottom: 1em;
}

.dan {
  font-size: 1.1em;
  color: var(--black);
  cursor: pointer;
}

.dan_input {
  cursor: pointer;
}

.members__span {
  justify-self: end;
  font-size: 0.7em;
}

.members__not {
  font-size: 1em;
}

.members__items .members__not:nth-child(even) {
  background-color: var(--gold-lighter) !important;
}

.clients__add_list {
  margin-top: 1em;
}

.schedule__search {
  display: grid;
  margin-bottom: 0.3em;
}

.notclients__container {
  margin-left: 0.5em;
}

.notclients__list {
  justify-items: stretch;
}

.schedule__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.schedule__items {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
  border: 2px solid var(--purple);
  border-radius: 1em;
  padding: 1em;
  cursor: pointer;
  transition: ease 0.7s all;
}

.schedule__items:hover {
  background: var(--purple-light);
}

.week__day {
  margin: 0;
}

.item__desc {
  font-size: 0.8em;
  font-style: italic;
  color: var(--grey);
}

.schedule__btn {
  font-size: 0.9em;
  padding: 0.1em;
  background: transparent;
}

@media (max-width: 728px) {
  .schedule__card {
    grid-template-columns: auto auto !important;
  }
}

@media (max-width: 599px) {
  .schedule__card {
    grid-template-columns: auto !important;
  }
}

.dash__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  grid-gap: 1em;
  margin: 1em;
}

.logo {
  max-width: 350px;
  height: auto;
}

.active__clients {
  align-self: center;
}

.active__nr {
  font-size: 3em;
  color: var(--purple-dark);
}

.dash__items {
  justify-self: center;
}

.dash__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dash__text {
  color: var(--gold);
  font-variant: small-caps;
  font-size: 1.5em;
  display: flex;
  align-items: baseline;
}

canvas {
  justify-self: center;
}

.charts {
  display: grid;
}

.chartjs-render-monitor {
  max-height: 350px;
  max-width: 350px;
}

.datepicker {
  font-size: 0.6em !important;
  margin: 0 0.5em;
  width: 110px;
}

.datepicker input {
  width: 110px;
}

.active__link {
  color: var(--gold-light) !important;
  background-image: linear-gradient(
    to bottom,
    white,
    var(--purple) 80%
  ) !important;
  cursor: none !important;
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

nav {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
}

.nav__img {
  max-width: 30px;
  height: auto;
}

.nav__img_home {
  height: 50px;
  width: auto;
}

.home__btn {
  display: block !important;
}

.dashboard__btn {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
  align-items: center;
  padding: 0.5em;
  margin-right: 1em;
  margin-top: 1em;
  cursor: pointer;
  color: var(--purple);
  font-family: "Itim", cursive;
  font-variant: small-caps;
  font-size: 1.2em;
  font-weight: 800;
  background-image: linear-gradient(to bottom, white, var(--purple-light) 80%);
  border: 2px solid transparent;
  border-radius: 1em;
  transition: ease 0.8s all;
  text-decoration: none;
}

.dashboard__btn_hover:hover {
  color: var(--purple-dark);
  border: 2px solid var(--purple-dark);
  transform: scale(0.95);
  text-decoration: underline;
}

hr {
  margin: 0.4em;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(98, 18, 105, 0),
    rgba(116, 21, 153, 0.75),
    rgba(98, 19, 134, 0)
  );
}

.user__logged {
  margin-top: 1em;
}

.user__logout {
  color: var(--red-dark);
}

.user__logout:hover {
  color: var(--red);
}

.logo__small {
  height: 70px;
  width: auto;
}

.home__btn {
  color: white !important;
  background-image: linear-gradient(to bottom, white, var(--gold)) !important;
  cursor: none !important;
  transform: scale(1.05);
}

.user__link {
  color: var(--gold);
}

.user__link:hover {
  color: var(--gold-light);
}

.profile__link {
  color: var(--purple);
}

.profile__link:hover {
  color: var(--purple-light);
}

.nav-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

.nav-toggle {
  display: none;
  margin: 0 auto;
  padding: 0;
  transition: all 0.5s ease;
  background: transparent;
  /* width: 65px; */
  height: 75px;
  border: none;
  cursor: pointer;
}

.nav-toggle:hover {
  transform: rotate(90deg);
}

.nav-toggle:active {
  transform: rotate(90deg);
}

.logo-nav {
  width: 120px;
  height: auto;
}

.save__btn:hover {
  background: var(--green-light);
}

.cancel__btn:hover {
  background: var(--yellow-light);
}

.cancel__btn {
  color: var(--orange);
  border-bottom: 2px solid var(--orange);
}

.cancel__btn:hover {
  color: var(--orange-dark);
  border-bottom: 2px solid var(--orange-dark);
}

.rise-enter-active {
  transition: all 0.5s ease-in-out;
  /* position: absolute; */
}

.rise-leave-active {
  transition: all 0.5s ease-in-out;
  /* position: absolute; */
}

.rise-enter,
.rise-leave-to {
  transform: translateY(-2em);
  opacity: 0;
}

.rise-move {
  transition: all 0.5s ease;
}

.fall-enter-active,
.fall-leave-active {
  transition: all 1s ease-in-out;
}

.fall-enter,
.fall-leave-to {
  transform: translateY(-2em);
  opacity: 0;
}

@media only screen and (max-width: 1078px) {
  nav {
    grid-template-columns: repeat(3, auto);
  }

  .schedule__card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 799px) {
  .activities__wrapper,
  .dash__wrapper {
    grid-template-columns: auto !important;
  }
}

@media (max-width: 599px) {
  nav,
  .clients__list {
    grid-template-columns: repeat(2, auto) !important;
  }

  .nav-toggle,
  .generals__form {
    display: block;
  }

  .active__date {
    justify-self: baseline;
  }

  .attendances {
    justify-content: space-between;
  }

  .members_input,
  .days__list {
    grid-template-columns: repeat(2, auto) !important;
  }

  .activities__list {
    grid-template-columns: 2fr 1fr !important;
  }

  .payment__heading {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .client__name {
    font-size: 2em;
  }

  .activities__check {
    justify-self: center;
  }

  .input__group {
    grid-template-columns: auto !important;
    justify-content: left;
  }

  .members__list {
    display: grid !important;
    justify-content: center;
  }

  .filter_bar,
  .dash__text {
    font-size: 1.2em;
  }

  .prices {
    margin-top: 1em;
  }
}
